input {
  outline: none;
  border: 1px solid #f25cc1;
  font-size: 14px;
  padding: 0 8px;
  flex: 1;
  color: #f25cc1;
  font-weight: 100;
  height: 35px;
}

input::placeholder {
  color: #f25cc1;
}

.WrapperInput {
  background-color: aliceblue;
}
